body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

:root {
  --bg: #f2f2f2; /* Etwas dunkleres Weiß für den Hintergrund */
  --primary-color: #3498db; /* Blau (symbolisch für das Kaiserreich) */
  --secondary-color: #e74c3c; /* Rot (königliches Rot) */
  --accent-color: #8e5d3f; /* Braun (historisches, gedecktes Braun) */
  --text-color: #333; /* Dunkelgrau für Text */
}

.dark-mode {
  --bg: #1f1f1f; /* Dunkles Grau für den dunklen Modus */
  --primary-color: #2980b9; /* Dunkles Blau */
  --secondary-color: #c0392b; /* Dunkles Rot */
  --accent-color: #7a4b2e; /* Dunkles Braun für den dunklen Modus */
  --text-color: #ddd; /* Helleres Grau für Text im dunklen Modus */
}

code {
  font-family: "Cinzel Decorative", serif;
}

#root {
  font-family: "Cinzel Decorative", serif;
  background-color: var(--bg);
  overflow: hidden hidden;
}

ul, p, h1,h2.h3,h4,h5,h6, li, a {
  padding: 0;
  margin: 0;
}

.backgroundContainer {
  background-image: url("assets/wooden-background.jpg");
  background-size: cover; /* Das Bild soll den gesamten Container abdecken */
  background-position: center; /* Das Bild wird zentriert */
  min-height: 91vh; /* Der Container nimmt die volle Höhe des Viewports ein */
  color: var(--bg); /* Textfarbe für besseren Kontrast */
  box-shadow: 1px 2px 12px black;
}

.header {
  width: 100%;
  height: 10vh;
  border-bottom: 0.4vh solid;
  border-bottom-color: "#000000";
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-user-select: none;
          user-select: none;
}

.title {
  color:antiquewhite;
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
  text-shadow: 20px 20px 50px rgba(0, 0, 0, 1);
}

.headerInnerWrapper {
  width: 97.5%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 2vh;
  font-family: "Cinzel Decorative", serif;
  font-weight:900;
}

.small-img {
  width: 7vh;
  height: 7vh;
}

.caret-down {
  padding: 1vh;
  padding-right: 1.5vh;
  padding-left: 1.5vh;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 100%;
  font-size: 1.5vw;
  color: blanchedalmond;
  position: absolute;
  inset: 0;
  margin: auto;
  margin-bottom: 12vh;
  animation: infinite 3s ease-in-out floating-element, forwards 1.5s linear fadein;
}

@keyframes floating-element {
  0% {
    transform: translateY(0);
  } 
  50% {
    transform: translateY(-2vh);
  }
  100% {
    transform: translateY(0);
  }
}

.transform {
  transition: color 0.5s ease, transform 0.5s ease;
}

.transform:hover {
  transition: color 0.5s ease, transform 0.5s ease;
  cursor: pointer;
    transform: scale(1.05);
}

.svg-icon {
  transition: color 0.5s ease, transform 0.5s ease;
  color: var(--bg);
}

.svg-icon:hover {
  cursor: pointer;
  color: red;
  transform: scale(1); 
}
.hero {
  background-color: var(--hero-bg-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

.heroInnerWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.heroContainer {
  width: 45%;
}

.heroContainer.left {
  text-align: left;
  color: var(--text-color);
  display: flex;
  flex-direction: column;
  margin-left: 2vw;
  gap: 2vh;
  animation: forwards 1.5s linear fadein;
}

@keyframes fadein {
    from {
      opacity: 0;
    }

    to {
      opacity: 1;
    }
}

.heroContainer.right {
  display: flex;
  justify-content: center;
  align-items: center;
  animation: forwards 2s linear fadein;
}

.heroTitle {
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.2;
  text-shadow: 4px 4px 12px rgba(0, 0, 0, 0.1);
  color: blanchedalmond;
  margin: 0;
  font-family: "Cinzel Decorative", serif;
  font-weight: 900;
}

.heroSubtitle {
  font-size: 1.5rem;
  color: var(--secondary-color);
  font-family: 'Georgia', serif;
  font-style: italic;
  margin-top: 0;
  text-align: left;
}

.hero-img {
  width: 90%;
}

@media (max-width: 768px) {
  .heroInnerWrapper {
    flex-direction: column;
    text-align: center;
  }
  .heroContainer.left {
    width: 100%;
    margin-bottom: 20px;
  }
  .heroContainer.right {
    width: 100%;
  }
  .heroTitle {
    font-size: 2rem;
  }
  .heroSubtitle {
    font-size: 1.2rem;
  }
}

.content {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
  background-image: url("assets/paperboard-yellow-texture.jpg");
}

.content.flipped-bg {
    border-top: 0.3vh solid black;
}

.contentContent {
  padding: 0 1vw;
  font-size: 2vh;
}

.text-content {
  height: max-content;
  padding-bottom: 20vh;
  padding-top: 0;
}

.contentInnerWrapper {
  width: 100%;
  height: 100%;
  overflow: hidden hidden;
}

.contentHeader {
  padding: 1vh 1vw;
  flex-direction: row;
  display: flex;
  gap: 3vw;
  align-items: center;
  justify-content: flex-start;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.432), transparent);
}

.contentContentContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}

.contentInnerContainer {
  width: 33%;
  height: 100%;
  border-top: 0.5vh solid black;
  display: flex;
}

.contentInnerContainer.content-left {
  flex-direction: column;
  align-items: start;
  justify-content: left;
  width: 60%;
}

.contentInnerContainer.content-right {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
}

.contentInnerContainer.content-center {
  width: 75%;
  justify-content: center;
  align-items: center;
}

.contentLeft {
  padding: 1vh 0 0 1vw;
  background: linear-gradient(to right, rgba(0, 0, 0, 0.432), transparent);
  height: 100%;
}

.contentRight {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.ColonieInformationWrapper {
  
}

.ColonieInformationList {
  display: flex;
  flex-direction: column;
  margin-top: 1vh;
  padding: 0.25vh 0 0 0.25vh;
  gap: 1vh;
}

/* africa map */

.africa-map {
  opacity: 0;
  transition: opacity 2s linear, transform 2s linear;
}

.africa-map.visible {
  opacity: 1;
}


.africa-map path {
  stroke: #333;
  stroke-width: 0.5;
  transition: all 0.3s ease-in-out;
}

.africa-map path:hover {
  stroke-width: 1;
}

.tooltip {
  position: absolute;
  background: rgba(0, 0, 0, 0.7);
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  font-size: 12px;
  display: none;
  pointer-events: none;
}

/* footer */

.footer {
  width: 100%;
  height: 17vh;
  background-color: var(--text-color);
  color: var(--bg);
  display: flex;
  justify-content: center;
  align-items: center;
}

.footerInnerWrapper {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4vh;
}

.footer-list{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 2vw;
}

.footer-list li {
  list-style-type: none;
}

.footer-list li a {
  color: var(--bg);
}